In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = (
    SparkSession.builder
    .appName("Spark")
    .master("local[*]")
    .getOrCreate()
)

schema = StructType([
    StructField("firstname", StringType(), True),
    StructField("middlename", StringType(), True),
    StructField("lastname", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])

df = spark.read.csv(
    "data/employees.csv",
    header=True,
    schema=schema
)

df.show()
df.printSchema()

+---------+-----------+---------+------+------+
|firstname| middlename| lastname|gender|salary|
+---------+-----------+---------+------+------+
|     John|    Michael|    Smith|     M| 58000|
|     Emma|      Grace|  Johnson|     F| 72000|
|   Oliver|      James|    Brown|     M| 64000|
|   Sophia|     Louise|    Jones|     F| 69000|
|  William|  Alexander|   Miller|     M| 53000|
|      Ava|       Rose|    Davis|     F| 75000|
|   Elijah|     Thomas|   Garcia|     M| 61000|
| Isabella|      Marie| Martinez|     F| 82000|
|    James|      David|Rodriguez|     M| 57000|
|      Mia|  Elizabeth|Hernandez|     F| 67000|
| Benjamin|     Joseph|    Lopez|     M| 73000|
|Charlotte|       Anne| Gonzalez|     F| 79000|
|    Lucas|    Anthony|   Wilson|     M| 56000|
|   Amelia|       Lynn| Anderson|     F| 71000|
|    Mason|     Edward|   Thomas|     M| 69000|
|   Harper|       Jane|   Taylor|     F| 68000|
|    Ethan|     Samuel|    Moore|     M| 60000|
|   Evelyn|     Claire|  Jackson|     F| 76000|
|    Logan|Christopher|    White|     M| 55000|
|  Abigail|      Faith|      Lee|     F| 72000|
+---------+-----------+---------+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)